<%- include("./layouts/header.ejs") %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <!-- top navbar -->
            <%- include("./layouts/top-nav.ejs") %>
            <!-- end of top navbar -->

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">


                    <!-- navbar -->

                    <%- include("./layouts/navbar.ejs") %>

                    <!-- end of navbar -->


                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                      <div class="row">
                                          
                                          

                                        
                                       
                                          
                                            <!-- order-card end -->

                                            <!-- statustic and process start -->
                                            <div class="col-lg-12 col-md-12">
                                                <div class="card bg-c-blue">
                                                 
            
                                                    <h1 style="text-align: center;margin: 20px; color: aliceblue;" >Perfect Store Dashboard </h1>

                                                </div>
                                            </div>
                                            <!-- statustic and process end -->

										

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        </div>
        <%- include("./layouts/footer.ejs") %>