<!-- Required Jquery -->
<script type="text/javascript" src="/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/admin/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/admin/js/bootstrap.min.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/admin/js/Chart.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="/admin/js/custom-dashboard.min.js"></script>
<script type="text/javascript" src="/admin/js/script.js"></script>
<script src="/admin/js/pcoded.min.js"></script>
<script src="/admin/js/vartical-demo.js"></script>
</body>
</html>