<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        
        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Perfect Store</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="active">
                <a href="/api/dashboard">
                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
           

            <li class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style7">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-user"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Users</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/api/dashboard/users/">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">users</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/api/dashboard/users/add">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">add</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                  
                </ul>
            </li>

            <li class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style7">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Products</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/api/dashboard/products/">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">products</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/api/dashboard/products/add">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">add</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                  
                </ul>
            </li>

            <li class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style7">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="ti-agenda"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Categories</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/api/dashboard/categories/">
                            <span class="pcoded-micon"><i class="ti-agenda"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">categories</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/api/dashboard/categories/add">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">add</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                  
                </ul>
            </li>


            <li class=" ">
                <a href="/api/dashboard/orders">
                    <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Orders</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>


            <li class=" ">
                <a href="/api/dashboard/contacts">
                    <span class="pcoded-micon"><i class="ti-email"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Contacts</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

        </ul>
</nav>