<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="ti-menu" style="color: black;"></i>
            </a>
            <div class="mobile-search">
                <div class="header-search">
                    <div class="main-search morphsearch-search">
                        <div class="input-group">
                            <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Keyword">
                            <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="index.html">
                <img class="img-fluid logo" src="/admin/images/logo.png" alt="Theme-Logo" style = "height:50px;"/>
            </a>
            <a class="mobile-options">
                <i class="ti-more"></i>
            </a>
        </div>

        <div class="navbar-container container-fluid">
            <ul class="nav-left">
                <li>
                    <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                </li>
            </ul>
            <ul class="nav-right">
                <li class="user-profile header-notification">
                    <a href="#!">
                        <img src="/admin/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                        <span style = "color: black;"><%= user.first_name + " " + user.last_name %></span>
                        <i class="ti-angle-down" style = "color:black"></i>
                    </a>
                    <ul class="show-notification profile-notification">
                        
                        <li>
                            <a href="/api/profile">
                                <i class="ti-user"></i> Profile
                            </a>
                        </li>
                        <li>
                            <a href="/api/logout">
                            <i class="ti-layout-sidebar-left"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>