<%- include("../layouts/header.ejs") %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            
            <!-- top navbar -->
            <%- include("../layouts/top-nav.ejs") %>
            <!-- end of top navbar -->

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">


                    <!-- navbar -->

                    <%- include("../layouts/navbar.ejs") %>

                        <!-- end of navbar -->


                        <div class="pcoded-content">
                            <div class="pcoded-inner-content">
                                <div class="main-body">
                                    <div class="page-wrapper">

                                        <div class="page-body">

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Add User</h5>
                                                </div>
                                                <div class="card-block">

                                                        <div class="form-group text-center" id="res_msg"></div>

                                                    <form method="POST" action="/api/dashboard/users/add" enctype="multipart/form-data">

                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">First Name</label>
                                                            <div class="col-sm-4"> 
                                                                <input type="text" class="form-control" name="first_name" id="first_name"
                                                                    placeholder="First Name">
                                                            </div>
                                                            <label class="col-sm-2 col-form-label">Last Name</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control"  name="last_name" id="last_name"
                                                                    placeholder="Last Name">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Phone</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control" name="phone" id="phone"
                                                                    placeholder="Phone">
                                                            </div>
                                                            <label class="col-sm-2 col-form-label">Address</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control" name="address" id="address"
                                                                    placeholder="Address">
                                                            </div>
                                                        </div>

                                                    
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Email</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" name="email" id="email"
                                                                    placeholder="Email">
                                                            </div>

                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Password</label>
                                                            <div class="col-sm-4">
                                                                <input type="password" class="form-control" name="password" id="password"
                                                                    placeholder="Password">
                                                            </div>
                                                            <label class="col-sm-2 col-form-label">Confirm
                                                                Password</label>
                                                            <div class="col-sm-4">
                                                                <input type="password" class="form-control" name="conf_password" id="conf_password"
                                                                    placeholder="Re-Type Password">
                                                            </div>
                                                        </div>

                                                        <h4 class="sub-title"></h4> <!-- hr -->


                                                        <button class="btn btn-grd-primary " onclick="addUser(event)" >Submit</button>
                                                    </form>


                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>

    <script>

        async function addUser(event) {

            event.preventDefault();

            let user = {
                first_name: first_name.value,
                last_name: last_name.value,
                
                address: address.value,
                phone: phone.value,
                email: email.value,
                password: password.value,
                conf_password: conf_password.value
            }

            let res = await fetch("/api/dashboard/users/add", {
                method: "POST",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify(user)
            });

            let resJson = await res.json();

            if (resJson.statusCode == 201) {

                res_msg.innerHTML = `<span class='alert alert-success'> ${resJson.statusText} </span>`
               

            } else {

                res_msg.innerHTML = `<span class='alert alert-danger'> ${resJson.error} </span>`

            }
        }

        /*--------------------------*/

        function clear_fields(){
            first_name.innerHTML = '';
            last_name.innerHTML = '';
            country_id.innerHTML = '';
            city_id.innerHTML = '';
            address.innerHTML = '';
            phone.innerHTML = '';
            email.innerHTML = '';
            password.innerHTML = '';
            conf_password.innerHTML = '';
        }

    </script>

    <%- include("../layouts/footer.ejs") %>